.containerTable {
    margin: 30px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    h2 {
      color: white;
    }
  }
  @media (max-width: 420px)  {

  }
  
  @media (min-width: 421px) and (max-width: 768px) {
  
  }
  