@import '../../index.scss';

.containerLine {
    border: 2px solid $color-shade-green;
    background-color: $color-neu-green;
    border-radius: 0 8px 8px 0;
    width: 40vw;
    transition: transform 0.3s ease;
    }
    .content {
        display: flex;
        align-items: center;
        p{
            width: 10vw;
            padding: 6px 3px;
            margin: 0;
            font-size: 12px;
        }
        p:first-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: none;
            border-right: 2px solid $color-shade-green;
        }
        p:nth-child(2) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-left: 2px solid $color-shade-green;
            border-right: 2px solid $color-shade-green;
        }
        p:last-child {
            border-top-right-radius: 7px;
            border-bottom-right-radius: 7px;
            border-left: 2px solid $color-shade-green;
            border-right: none;

        }
        button img{
            max-width: 15px;
        }
        button {
            background-color: $color-accent;
            border: none;
            border-radius: 10px;
            margin: 0 1px;
        }
        

}
.editContent {
    display: flex;
    justify-content: space-evenly;
    input {
        width: 80px;
        margin: 5px 0;
    }
    button {
        background-color: $color-accent;
        border: none;
        border-radius: 5px;
        margin: 5px;
    }
    button img{
        max-width: 20px;
        margin-top: 2px;
    }
}
@media (max-width: 700px)  {
    .containerLine {
        width: 70vw;
    }
    .content {
        p{
            width: 20vw;
        }
    }
}

@media (min-width: 701px) and (max-width: 1160px) {

}

@media (min-width: 1161px) {

    
}

