@import '../../index.scss';

.addWordContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 10vw;
    gap: 8vh;
    button {
        background-color: $color-accent;
        border: 2px solid $color-light-accent;
        text-align: center;
        outline: none;
        color: white;
        padding: 8px 16px;
        width: fit-content;
        cursor: pointer;
        font-size: 14px;
        font-weight: 700;
        border-radius: 5px;
        margin-left: 3vw;
    }
    p {
        color: white;
    }
    h2 {
        color: white;
    }
}

.invalidInput {
    border: 1px solid red;
  }
  
  .error {
    color: red;
    margin-top: 5px;
  }
  
  .successMessage {
    color: green;
    margin-top: 10px;
  }
  
  .successMessage button {
    margin-left: 10px;
  }

@media (max-width: 700px)  {
    .addWordContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto 5vw;
        gap: 8vh;
        button {
            margin-top: 6vh;
            margin-left: 0;
        }
    }
}