@import '../src/Vars/variables.scss';

.addWordContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 10vw;
    gap: 8vh;
    button {
        background-color: $color-bright-blue;
        border: 2px solid $lightShadow;
        text-align: center;
        outline: none;
        color: white;
        padding: 8px 16px;
        width: fit-content;
        cursor: pointer;
        font-size: 14px;
        font-weight: 700;
        border-radius: 5px;
        margin-left: 3vw;
    }
    p {
        color: $color-text-light;
    }
    h2 {
        color: $color-text-light;
    }
}

@media (max-width: 700px)  {
    .addWordContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto 5vw;
        gap: 8vh;
        button {
            margin-top: 6vh;
            margin-left: 0;
        }
    }
}