.card {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding-top: 60px;
    padding-bottom: 20px;
    height: 40vh;
    width: 25vw;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10vh;
    margin-bottom: auto;
}


.card button{
    background-color: #e15600;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.card button:hover {
    background-color: #e42e00;
}