.header {
    height: 8vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -3px 10px 5px #a0ffbe9c ;
}


