@import '../src/Vars/variables.scss';

.wrapGame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerGame {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    button {
        color: $color-text-light;
        background-color: $color-bright-blue;
        border-radius: 20px;
        padding: 8px;
        height: 35px;
        width: 35px;
        border: 2px solid $color-green;
        outline: none;

        font-size: 16px;
        font-weight: 700;
    }

}

.containerGame::before{
    content: '';
    position: absolute;
    height: 260px;
    width: 280px;
    background-color: $color-base;
    border-radius: 15px;

}
.contentGame {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    position: relative;

}

@media (max-width: 700px)  {
    .containerGame::before{
        display: none;    
    }
    .contentGame {
        gap: 5vw;
    }
}

@media (min-width: 701px) and (max-width: 1160px) {

}

@media (min-width: 1161px) {

    
}