@import '../src/Vars/variables.scss';

.wrapGame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerGame {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    button {
        color: white;
        background-color: $acColor;
        border-radius: 20px;
        padding: 8px;
        height: 35px;
        width: 35px;
        border: 2px solid $brightBlue;
        outline: none;
        transition: .2s ease-in-out;
        box-shadow: -6px -6px 14px #66666628,
                    -6px -6px 10px #49494971,
                    6px 6px 8px rgba(255, 255, 255, .0),
                    6px 6px 10px rgba(0, 0, 0, .7);
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
    }
    button:hover {
        box-shadow: -2px -2px 6px #462a4fd3,
                -2px -2px 4px #46245171,
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
    }
}

.containerGame::before{
    content: '';
    position: absolute;
    height: 260px;
    width: 280px;
    background-color: $brightBlue;
    border-radius: 15px;

}
.contentGame {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    position: relative;

}

@media (max-width: 700px)  {
    .containerGame::before{
        display: none;    
    }
    .contentGame {
        gap: 5vw;
    }
}

@media (min-width: 701px) and (max-width: 1160px) {

}

@media (min-width: 1161px) {

    
}