* {
  font-family: sans-serif;
  margin: 0 0;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
  width: 530px;
  margin: 3vh auto;
  background-color: #312037;
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 420px)  {
  .app {
    width: 320px;
    margin: 0 auto;
    height: 100vh;
  }
}

@media (min-width: 421px) and (max-width: 768px) {
  .app {
    width: 400px;
    margin: 0 auto;
    height: 100vh;
  }
}

