@import '../src/Vars/variables.scss';

* {
  font-family: $fontFamily;
  margin: 0 0;
}
.app {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: $bgColor;
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
  }
}

@media (max-width: 700px)  {
  .app {
    flex-direction: column;
  }
}

@media (min-width: 701px) and (max-width: 1160px) {
    
}
@media (min-width: 1161px) {
    
}

