
    $color-back-blue: #1b152d;
    $color-dark-blue: #2c1765;
    $color-bright-blue: #002ead;
    $color-bright-green: #9dff48;
    $color-green: rgb(8, 236, 8);
    $color-accent: #ffc400;
    $color-light-accent: #fef26b;
    $color-neu-green: #d7ffb4;
    $color-shade-green: #97d660;