.containerError {
    height: 99vh;
    padding: 30vh 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;

}

@media (max-width: 420px)  {

}

@media (min-width: 421px) and (max-width: 768px) {

}
